@import "~normalize.css";

html, body {
	height: 100%;
	background: black;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main {
	box-shadow: 0 0 15px purple;
}

canvas {
	position: absolute;
	-moz-transform: translateZ(0); /*most probably does nothing*/
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}